// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #E0E0E0;
@light-gray: #9E9E9E;
@gray: #616161;
@dark-gray: #424242;
@very-dark-gray: #212121;
@white: #F5F5F5;
@cyan: #8abeb7;
@blue: #2196F3;
@purple: #673AB7;
@green: #00C853;
@red: #F44336;
@orange: #FF9800;
@light-orange: #FFC107;
@yellow: #FFEB3B;
@pink: #E91E63;
